<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--无参构造创建A对象-->
    <bean id="a" class="com.gupao.java_core.reflect.ioc.A"></bean>

    <!--静态方法创建B对象-->
    <bean id="b" class="com.gupao.java_core.reflect.ioc.A" factory-method="createB"></bean>

    <!--实例方法创建C对象-->
    <bean id="c" factory-bean="a" factory-method="createC"></bean>
</beans>